.btn-blue {
	background-color: rgb(25,41,101);
	padding: 10px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	width: 180px;

}
.btn-back {
	background-color: rgb(230,230,230);
	padding: 10px 20px;
	border-radius: 4px;
	color: rgb(25,41,101);
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	width: 180px;

}